.container-info {
    /* background-color: aqua; */
    margin: 15rem auto;
    width: 70%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.container-title {
    /* background-color: yellow; */
    padding: 2rem;
    width: 80%;
}

.container-title h1 {
    font-family: var(--font-title);
    font-size: 5rem;
    margin-bottom: 1.5rem;
    color: var(--gris-carbon);
}

.container-title h1 span {
    font-weight: 700;
    color: var(--azul-confianza);
}

.container-title p {
    font-size: 2rem;
    color: var(--azul-confianza);
}

.btn-info-container {
    /* background-color: yellow; */
    margin-top: 3rem;
    display: flex;
    gap: 3rem;
}

.btn-verMas {
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid var(--azul-confianza);
    text-decoration: none;
}

.btn-verMas span {
    font-family: var(--font-title);
    color: var(--azul-confianza);
    font-size: 2rem;
}

.btn-verMas:hover {
    box-shadow: 0 0 10px var(--azul-confianza);
    transform: scale(1.1);
}

.container-img {
    width: 50%;
    height: auto;
}

.container__img {
    /* background-color: brown; */
    width: 100%;
    height: auto;
}

.container-img img {
    object-fit: cover;
    /* border-radius: 5%; */
    width: 100%;
    height: 100%;
}


/* ! Section Services */

.container-services {
    width: 100%;
    height: auto;
    padding: 6rem 0;
    background-color: var(--azul-polvo);
}

.container-info-services {
    /* background-color: yellowgreen; */
    width: 70%;
    height: auto;
    margin: 0 auto;
    /* padding: 3rem 0; */
}

.container-info-services h2 {
    font-family: var(--font-title);
    font-size: 4rem;
    color: var(--gris-carbon);
    text-align: center;
    /* padding-top: 3rem ; */
}

.container-info-services p {
    font-family: var(--font-body);
    font-size: 2rem;
    color: var(--gris-carbon);
    text-align: center;
    padding-bottom: 3rem;
}


/* ! Section About Me */

.nosotros {
    width: 100%;
    padding: 0.5rem 0;
}

.container-about-me {
    /* background-color: aqua; */
    width: 70%;
    height: auto;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 1rem;
    overflow: hidden;
}


.about-me-img {
    width: 50%;
    height: auto;
}

.about-me-img img {
    object-fit: cover;
    border-radius: 50% ;
    width: 100%;
    height: 100%;
}

.about-me-info {
    padding: 2rem;
    width: 80%;
}

.about-me-info h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--gris-carbon);
}

.about-me-info p {
    font-family: var(--font-body);
    font-size: var(--font-size-large);
    color: var(--azul-confianza);
}

.btn-about-me {
    /* background-color: yellow; */
    margin-top: 2rem;
    width: 35%;
}