.footer {
    background-color: var(--azul-polvo);
    width: 100%;
    height: 100%;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

.footer-container {
    /* background-color: yellow; */
    width: 70%;
    padding: 2rem 0 0.1rem 0;
    margin: 0 auto;
}

.footer h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: bold;
    color: var(--gris-carbon);
    margin-bottom: 1rem;
}

.footer p {
    color: var(--negro);
    font-size: var(--font-size-medium-large);
    margin-bottom: 2rem;
    line-height: 1.5;
}

.footer-info {
    /* background-color: yellow; */
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item {
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.footer-item p {
    color: var(--negro);
    font-size: var(--font-size-medium-large);
}

.footer-item:hover {
    transform: translateY(-5px) !important;
}

.footer-item i {
    color: var(--gris-carbon);
    font-size: 2rem;
}


/* Línea divisoria suave */
.footer-divider {
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Créditos o derechos reservados */
.footer-bottom {
    /* background-color: aqua; */
    padding-top: 2rem;
    font-size: 1.5rem !important;
    color: var(--gris-carbon);
    opacity: 0.7;
    letter-spacing: 0.5px;
}