.footer {
    background-color: var(--azul-polvo);
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    text-align: center;
}

.footer-container {
    /* background-color: yellow; */
    width: 70%;
    padding: 5rem 0;
    margin: 0 auto;
}

.footer h2 {
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: bold;
    color: var(--gris-carbon);
    margin-bottom: 1rem;
}

.footer p {
    color: var(--negro);
    font-size: var(--font-size-large);
    margin-bottom: 2rem;
    line-height: 1.5;
}

.footer-info {
    /* background-color: yellow; */
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-item {
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-item:hover {
    transform: translateY(-5px);
}

.footer-item i {
    color: var(--gris-carbon);
    font-size: 3rem;
}


