.splash-container {
    position: fixed;
    inset: 0;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.8s ease;
}

/* desaparicion  */

.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* logo */

.splash-logo {
    width: 30%;
    height: auto;
    margin-bottom: 25px;
    animation: fadeInScale 1.4s ease-out;
}

/* Loader suave y Elegante */

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid var(--gris-claro);
    border-top: 4px solid transparent;
    animation: spin 1s linear infinite;
    opacity: 0.7;
}

/* Animaciones */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .splash-logo {
        width: 80%;
    }
}