/* --- PC Portatil --- */
@media(max-width: 1444px) {
    .container-header {
        height: 100%;
    }

    .header-content {
        width: 90%;
        padding: 0 2rem;
    }

    .container-logo {
        width: 30%;
    }

    .title-logo {
        font-size: var(--font-size-extra-large);
    }

    .container-nav {
        width: 50%;
    }

    .container-nav ul {
        gap: 1rem;
    }

    .container-nav ul li a {
        font-size: 1.8rem;
    }
}


/* 📱 --- Tablets o  pc pequeño --- */
@media (max-width: 1024px) {
    .header-content {
        width: 100%;
    }

    .container-logo {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .header-content {
        width: 100%;
    }

    .container-logo {
        width: 40%;
        /* background-color: aqua; */
    }

    .img-logo {
        width: 80px;
    }

    .title-logo {
        font-size: var(--font-size-extra-large);
    }

    .container-nav {
        width: 50%;
    }

    .container-nav ul {
        gap: 1rem;
    }

    .container-nav ul li a {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 600px) {

    .header-content {
        /* background-color: aqua; */
        width: 100%;
        justify-content: center;
        /* Centra todo el contenido horizontalmente */
    }

    .container-logo {
        width: 100%;
    }

    .img-logo {
        width: 100px;
        /* background-color: tomato; */
    }

    .title-logo {
        font-size: var(--font-size-extra-large);
    }

    /* Ocultamos completamente la navegación en móviles */
    .container-nav {
        display: none;
    }
}

/* 📱 --- Móviles pequeños --- */

@media (max-width: 425px) {
    .img-logo {
        width: 90px;
    }

    .title-logo {
        font-size: var(--font-size-extra-large);
    }
}