/* --- PC Portatil --- */
@media(max-width: 1444px) {

    /*** WELCOME BANNER ***/

    .container-info {
        margin: 5rem auto;
        width: 90%;
        height: auto;
        gap: 5rem;
    }

    .container-title h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .container-title p {
        font-size: 1.5rem;
    }

    .btn-contact a {
        font-size: 1.5rem;
    }


    .btn-verMas span {
        font-size: 1.5rem;
    }


    /* ! **SECTION SERVICES** !*/
    .container-services {
        /* background-color: aqua; */
        padding: 3rem 0;
    }

    .container-info-services {

        width: 90%;
    }

    .container-info-services h2 {
        font-size: var(--font-size-extra-large);
    }

    .container-info-services p {
        font-size: var(--font-size-medium-large);
    }

    /* CARD SERVICE */
    .card-service {
        gap: 1rem;
    }


    /* ? **SECTION ABOUT ME** !*/

    .nosotros {
        /* background-color: aqua; */
        padding: 0;
    }

    .container-about-me {
        /* background-color: antiquewhite; */
        width: 90%;
        height: auto;
        margin: 2rem auto;
        gap: 2rem;
        padding: 2rem 0;
        overflow: hidden;
    }

    .about-me-img {
        width: 40%;
        height: auto;
    }

    .about-me-info {
        width: 60%;
    }

    .about-me-info h2 {
        font-size: 3rem;
    }

    .about-me-info p {
        font-size: 1.5rem;
    }

    .btn-about-me {
        width: 43%;
    }
}

/* 📱 --- Tablets o  pc pequeño --- */
@media (max-width: 1024px) {}

@media (max-width: 768px) {
    /*** WELCOME BANNER ***/

    .container-info {
        width: 100%;
        gap: 3rem;
    }

    .container-title h1 {
        font-size: var(--font-size-large);
        margin-bottom: 1.5rem;
    }

    .container-title p {
        font-size: var(--font-size-medium);
    }

    .btn-info-container {
        gap: 1.5rem;
    }

    .btn-contact a {
        font-size: var(--font-size-medium);
        font-weight: 500;
    }


    .btn-verMas span {
        font-size: var(--font-size-medium);
        font-weight: 500;
    }

    /* ! **SECTION SERVICES** !*/
    .container-services {
        /* background-color: aqua; */
        padding: 3rem 0;
    }

    .container-info-services {

        width: 90%;
    }

    .container-info-services h2 {
        font-size: var(--font-size-extra-large);
    }

    .container-info-services p {
        font-size: var(--font-size-medium);
    }

    /* CARD SERVICE */

    .card-services {
        /* background-color: rgba(255, 0, 0, 0.829); */
        width: 45% !important;
        height: auto !important;
        transition: none !important;

    }

    .card-services:hover {
        box-shadow: none !important;
    }

    /* ? **SECTION ABOUT ME** !*/

    .container-about-me {
        /* background-color: aqua; */
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0rem;
        overflow: hidden;
    }

    .about-me-img {
        width: 50%;
        height: auto;
    }

    .about-me-info {
        padding: 2rem;
        width: 100%;
    }

}


/* 📱 --- Móviles pequeños --- */

@media (max-width: 425px) {
    /*** WELCOME BANNER ***/

    .container-info {
        /* background-color: aquamarine; */
        width: 100%;
        flex-direction: column;
    }

    .container-title {
        /* background-color: yellow; */
        padding: 0rem;
        width: 90%;
    }

    .btn-info-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .container-img {
        width: 70%;
        height: auto;
    }

    /* ! **SECTION SERVICES** !*/

    /* CARD SERVICE */


    .card-services {
        /* background-color: rgba(255, 0, 0, 0.829); */
        width: 100% !important;
        height: auto !important;
    }

    /* ? **SECTION ABOUT ME** !*/

    .container-about-me {
        width: 95%;
        height: auto;
        gap: 1rem;
        padding: 1rem 0;
        overflow: hidden;
        margin: 2rem auto;
    }

    .about-me-img {
        width: 80%;
        height: auto;
    }
    
    .about-me-info {
        padding: 1rem;
        width: 100%;
    }

    .btn-about-me {
        width: 100%;
    }
}