@media (max-width: 1444px) {

    .container-equipo h2 {
        font-size: 3rem;
    }

    .container-cards {
        /* background-color: aqua; */
        width: 90%;
        padding: 8rem 0;
    }

    .container-equipo h2 {
        font-size: 3rem;
        padding-top: 3rem;
    }
}

@media (max-width: 1444px) {
    .container-cards {
        /* background-color: aqua; */
        width: 90%;
        gap: 4rem;
        padding: 8rem 0;
    }
}