@media(max-width: 1444px) {
    .footer {
        /* background-color: aquamarine; */
        padding: 2rem 0rem;
    }

    .footer-container {
        /* background-color: yellow; */
        width: 90%;
        padding:0;
    }

    .footer h2 {
        font-size: var(--font-size-large);
    }
}