@media (max-width: 1444px) {
    .container-aboutUs {
        width: 90%;
    }


    .container-title-aboutUs {
        margin-bottom: 0rem;
    }

    .container-title-aboutUs h1 {
        font-size: var(--font-size-extra-large);
        margin-bottom: 1rem;
    }


}

@media (max-width: 768px) {}


@media (max-width: 480px) {
    .view {
        display: none;
    }

    .no-view {
        display: block;
    }

    .quienes_somos {
        /* background-color: cornflowerblue; */
        flex-direction: column;
    }

    .quienes_somos ul {
        width: 100%;
    }

    .container-title-aboutUs h1 {
        /* background-color: turquoise; */
        width: 100%;
        font-size: var(--font-size-large);
    }

    .container-title-aboutUs h1::after {
        width: 40px;
        height: 3px;
    }
}